$("#news_letter_signup").animate({'opacity': 0}, 1000, function () {
                         $(this).html('<h6><%= @return_msg.first %></h6>');
                         }).animate({'opacity': 1}, 1000);








